{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="auth-page">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100 py-5">
      <div class="col-lg-10">

        <div class="auth-card">
          <div class="row g-0">

            <div class="col-lg-5 auth-left">
              <div>
                <h2>Join Velora</h2>
                <p>Create your account and start shopping premium products.</p>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="auth-form-box">
                <h3>Create Account</h3>
                <p class="text-muted mb-4">Fill your details to register</p>

                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label>First Name</label>
                      <input type="text" name="first_name" class="form-control auth-input">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Last Name</label>
                      <input type="text" name="last_name" class="form-control auth-input">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control auth-input">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Mobile Number</label>
                      <input type="text" name="mobile_no" class="form-control auth-input">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Password</label>
                      <input type="password" name="password" class="form-control auth-input">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Profile Image</label>
                      <input type="file" name="profile_image" class="form-control auth-input">
                    </div>
                  </div>

                  <button type="submit" class="auth-btn">
                    Register
                  </button>
                </form>

                <p class="text-center mt-4 mb-0">
                  Already have an account?
                  <a href="{% url 'login_user' %}">Login</a>
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}