{% extends "adminLayout.html" %}
{% load static %}

{% block admincontent %}

<div class="admin-users-header">
    <div>
        <h3>Categories</h3>
        <p>Manage product categories for your store</p>
    </div>

    <button
    type="button"
    class="add-admin-btn border-0"
    data-bs-toggle="modal"
    data-bs-target="#addCategoryModal">

    <i class="bi bi-plus-circle me-2"></i>
    Add Category
</button>
</div>

<div class="row g-4 mb-4">

    <div class="col-lg-4 col-md-6">
        <div class="category-small-card">
            <div>
                <p>Total Categories</p>
                <h3>{{ categories.count }}</h3>
            </div>

            <div class="category-small-icon bg-blue">
                <i class="bi bi-tags"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="category-small-card">
            <div>
                <p>Total Products</p>
                <h3>{{ total_products }}</h3>
            </div>

            <div class="category-small-icon bg-green">
                <i class="bi bi-box-seam"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="category-small-card">
            <div>
                <p>Active Categories</p>
                <h3>{{ categories.count }}</h3>
            </div>

            <div class="category-small-icon bg-purple">
                <i class="bi bi-check-circle"></i>
            </div>
        </div>
    </div>

</div>

<div class="admin-user-table-card">

    <div class="table-top">

        <h4>Category List</h4>

        <form method="GET" class="search-box">

            <input
                type="text"
                name="q"
                class="form-control"
                placeholder="Search category..."
            >

            <button>
                <i class="bi bi-search"></i>
            </button>

        </form>

    </div>

    <div class="table-responsive">

        <table class="table admin-user-table align-middle">

            <thead>

                <tr>

                    <th>Category</th>

                    <th>Description</th>

                    <th>Total Products</th>

                    <th class="text-end">Actions</th>

                </tr>

            </thead>

            <tbody>

                {% for category in categories %}

                <tr>

                    <td>

                        <div class="category-info-box">

                           <div class="category-icon">
  {% if category.category_image %}
    <img src="{{ category.category_image.url }}" alt="{{ category.category_name }}">
  {% else %}
    <i class="bi bi-grid"></i>
  {% endif %}
</div>

                            <div>

                                <h6>{{ category.category_name }}</h6>

                                <small>{{ category.slug }}</small>

                            </div>

                        </div>

                    </td>

                    <td>

                        {{ category.category_description|truncatechars:70 }}

                    </td>

                    <td>

                        <span class="role-pill gray">

                            {{ category.product_set.count }} Products

                        </span>

                    </td>

                    <td class="text-end">
  <div class="dropdown">
    <button class="action-dropdown-btn" data-bs-toggle="dropdown">
      <i class="bi bi-three-dots-vertical"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-end action-menu admin-action-menu">
      <li>
        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCategory{{ category.id }}">
          <i class="bi bi-pencil-square me-2"></i> Edit
        </button>
      </li>

      <li>
        <a href="{% url 'delete_category_admin' category.id %}" class="dropdown-item text-danger delete-category-btn">
          <i class="bi bi-trash me-2"></i> Delete
        </a>
      </li>
    </ul>
  </div>
</td>

                </tr>
<div class="modal fade" id="editCategory{{ category.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content admin-view-modal">
      <div class="modal-header">
        <h5 class="modal-title">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form method="POST" enctype="multipart/form-data" class="confirm-form" action="{% url 'edit_category_admin' category.id %}">
        {% csrf_token %}

        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Category Name</label>
              <input type="text" name="category_name" value="{{ category.category_name }}" class="form-control product-input" required>
            </div>

            <div class="col-md-6">
    <label class="form-label">Category Image</label>

    <div class="image-upload-box">

        <img
            src=""
            class="image-preview"
            alt="Product Preview"
        >

        <input
            type="file"
            name="category_image"
            class="form-control product-input image-input"
            accept="image/*"
        >

    </div>
</div>

            <div class="col-12">
              <label class="form-label">Description</label>
              <textarea name="description" rows="4" class="form-control product-input">{{ category.description }}</textarea>
            </div>

            <div class="col-12">
              <label class="form-label">Status</label>
              <select name="is_active" class="form-select modal-select">
                <option value="True" {% if category.is_active %}selected{% endif %}>Active</option>
                <option value="False" {% if not category.is_active %}selected{% endif %}>Inactive</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="product-submit-btn">
            <i class="bi bi-check-circle me-2"></i> Update Category
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
                {% empty %}

                <tr>

                    <td colspan="4" class="text-center py-5 text-muted">

                        No Categories Found

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<!-- Add Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content admin-view-modal">

            <div class="modal-header">
                <h5 class="modal-title">
                    Add New Category
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>
            </div>

            <form
                method="POST"
                enctype="multipart/form-data"
                action="{% url 'add_category' %}"
                class="confirm-form">

                {% csrf_token %}

                <div class="modal-body">

                    <div class="row g-3">

                        <div class="col-12">
                            <label class="form-label">
                                Category Name
                            </label>

                            <input
                                type="text"
                                name="category_name"
                                class="form-control product-input"
                                placeholder="Enter category name"
                                required>
                        </div>

                        <div class="col-12">
                            <label class="form-label">
                                Description
                            </label>

                            <textarea
                                name="description"
                                rows="4"
                                class="form-control product-input"
                                placeholder="Enter category description"></textarea>
                        </div>

                        

                        <div class="col-md-6">
    <label class="form-label">Category Image</label>

    <div class="image-upload-box">

        <img
            src=""
            class="image-preview"
            alt="Product Preview"
        >

        <input
            type="file"
            name="category_image"
            class="form-control product-input image-input"
            accept="image/*"
        >

    </div>
</div>

                        <div class="col-md-6">
                            <label class="form-label">
                                Status
                            </label>

                            <select
                                name="is_active"
                                class="form-select modal-select">

                                <option value="True">
                                    Active
                                </option>

                                <option value="False">
                                    Inactive
                                </option>

                            </select>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-light"
                        data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <button
                        type="submit"
                        class="product-submit-btn">

                        <i class="bi bi-plus-circle me-2"></i>

                        Save Category

                    </button>

                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}